<div id="edit_post">
    <h1>edit post</h1>

  <form id="edit_post_form" action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <p>Category Name: <strong><%= @post.category.name %></strong></p>
    <p><input class="input_form" type="text" name="post[title]"> Title</p>
    <p><input class="input_form" type="text" name="post[description]"> Description</p>
    <p><input class="input_form" type="text" name="post[price]"> Price</p>
    <p><input class="input_form" type="text" name="post[contact_email]"> Contact Email</p>

    <input class="submit_button" id="submit_new_post" type="submit">
  </form>
</div>
